backcall==0.2.0
colorama==0.4.5
decorator==5.1.1
ipython==7.34.0
jedi==0.18.1
matplotlib-inline==0.1.6
neo4j==5.1.0
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.31
Pygments==2.13.0
pytz==2022.5
traitlets==5.5.0
wcwidth==0.2.5
